<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<%= @restaurant.address %>
<br>
<%= @restaurant.phone_number %>
<br>

<% @restaurant.reviews.each do |review| %>
    <h2><%= review.content %></h2>
    <%= review.rating %>
    <br>
<% end %>

<br>
<%#= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= render "reviews/form", restaurant: @restaurant, review: @review  %>
<br>
<br>
<%= link_to "Restaurant index", restaurants_path, class: "btn btn-primary" %>
